@inherits LayoutComponentBase

<div class="page">
    <main>

        <nav>
            @if (role == Shared.Enum.ERoles.COMPANY)
            {
                <StageTracker.Web.Layout.Company.CompanyNavMenu />
            }
            else if (role == Shared.Enum.ERoles.STUDENT)
            {
                <StageTracker.Web.Layout.Student.StudentNavMenu />
            }
        </nav>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    const Shared.Enum.ERoles role = Shared.Enum.ERoles.STUDENT; // company or student
}