@inherits LayoutComponentBase


<div class="page">
    <main>

        <nav>
            @if (Role == Shared.Enums.ERoles.COMPANY)
            {
                <StageTracker.Web.Layout.Company.CompanyNavMenu />
            }
            else if (Role == Shared.Enums.ERoles.STUDENT)
            {
                <StageTracker.Web.Layout.Student.StudentNavMenu />
            }
        </nav>

        <div class="back-arrow" onclick="history.back()"></div>

        

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    Shared.Enums.ERoles Role = Shared.Enums.ERoles.UNASSIGNED;

    protected override async Task OnInitializedAsync()
    {
        var localRoleExists = await LocalStorage.ContainKeyAsync("role");
        if (localRoleExists)
        {
            var role = await LocalStorage.GetItemAsync<Shared.Enums.ERoles>("role");

            switch (role)
            {
                case Shared.Enums.ERoles.STUDENT:
                    Navigation.NavigateTo("/student");
                    break;
                case Shared.Enums.ERoles.COMPANY:
                    Navigation.NavigateTo("/company");
                    break;
                default:
                    break;
            }

            Role = role;
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        // Expiration by API token verification 

        var localRoleExists = await LocalStorage.ContainKeyAsync("role");
        if (localRoleExists)
        {
            var role = await LocalStorage.GetItemAsync<Shared.Enums.ERoles>("role");
            Role = role;
        }
    }
}