@inherits LayoutComponentBase


<div class="page">
    <main>

        <nav>
            @if (Role == Shared.Enum.ERoles.COMPANY)
            {
                <StageTracker.Web.Layout.Company.CompanyNavMenu />
            }
            else if (Role == Shared.Enum.ERoles.STUDENT)
            {
                <StageTracker.Web.Layout.Student.StudentNavMenu />
            }
        </nav>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    Shared.Enum.ERoles Role = Shared.Enum.ERoles.UNASSIGNED;

    protected override async Task OnParametersSetAsync()
    {
        // Expiration by API token verification 

        var localRoleExists = await LocalStorage.ContainKeyAsync("role");
        if (localRoleExists)
        {
            var role = await LocalStorage.GetItemAsync<Shared.Enum.ERoles>("role");
            Role = role;
        }
    }
}