.offer {
    text-decoration: none;
    max-width: 500px;
    height: 75px;
    overflow-y: hidden;
}

    .offer .short-description {
        color: black;
        text-overflow: ellipsis;
    }

    .offer:hover h5{
        text-decoration: underline;
    }

