<a href="/student/offer/@OfferLiteResult.Id" class="row offer">
    <div class="col flex-grow-0">
        <img height="75" width="75" class="rounded-3" src="/@OfferLiteResult.Company.Logo" />
    </div>

    <div class="col">
        <h5>@OfferLiteResult.Title</h5>
        <p class="short-description">@OfferLiteResult.ShortDescription</p>
    </div>
</a>

@code {
    [Parameter]
    public required OfferLiteResultDto OfferLiteResult { get; init; }
}
