.container {
    box-shadow: #333 0 3px 5px -3px;
    border-radius: 7px;
}

    .container > h4{
        font-weight: 600;
    }



.row {
    flex-direction: column-reverse;
}

.offer-detailed {
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-left: 20px;
    margin-top: 0;
}

    .offer-detailed > .description {
        margin-top: 20px;
        height: 90%;
        font-size: 14px;
        font-weight: 400;
    }

.offer-application {
    min-width: 300px;
    width: 100%;
    height: 100%;
}

    .offer-application .badge{
        background-color: #3c69ab;
    }

.offer-application-info-1 {
    background-color: #f2f2f2;
    border-radius: 7px 7px 0px 0px;
    padding: 10px;
}
    .offer-application-info-1 > h4{
        margin-bottom: 0;
    }

.offer-application-info-2 {
    padding: 10px;
    background-color: #8cb8f9;
}

.offer-application-info-2-toggler {
    display: block;
}

@media (min-width: 992px){
    .container {
        box-shadow: #333 0 0px 5px -3px;
    }

    .row{
        flex-direction: row;
    }

    .offer-detailed {
        width: calc((100% / 3) * 2);
    }

    .offer-application {
        width: calc(100% / 3);
    }

    .offer-application-info-1 {
        border-radius: 0 7px 0 0;
    }

    .offer-application-info-2-toggler {
        display: none;
    }
}