@page "/student/search/{Location}/{SearchTerms}"
@page "/student/search"

<h3>Search @Location - @SearchTerms</h3>

@code {
    [Parameter]
    public string? SearchTerms { get; set; }

    [Parameter]
    public string? Location { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "q")]
    public string? SearchTermsFromQuery { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "l")]
    public string? LocationFromQuery { get; set; }

    protected override void OnParametersSet()
    {
        SearchTerms ??= SearchTermsFromQuery;
        Location ??= LocationFromQuery;
    }
}
