<ul class="nav justify-content-center">
    <li class="nav-item">
        <NavLink class="nav-link" href="student/offers">
            Offres
        </NavLink>
    </li>
        <li class="nav-item">
        <NavLink class="nav-link" href="student/applications">
            Candidatures
        </NavLink>
    </li>
</ul>

@code {

}
